#Part 1

In [29]:
Nombre = 'Erick'
Apellido = 'Sarante'

In [30]:
"Hola mi nombre es {} y mi appellido es {}".format(Nombre, Apellido)

'Hola mi nombre es Erick y mi appellido es Sarante'

In [31]:
print("Hola mi nombre es {} y mi appellido es {}".format(Nombre, Apellido))

Hola mi nombre es Erick y mi appellido es Sarante

In [32]:
Nombre[0]
Nombre[2:]

'ick'

In [33]:
my_list = [1,2,3]
print(my_list)
my_list.append(4)
print(my_list)

[1, 2, 3]
[1, 2, 3, 4]

In [34]:
for i in range(1,5,1):
    print(i)

1
2
3
4

In [35]:
my_list.append(["Hola Mundo", 5, 6])
print(my_list)

[1, 2, 3, 4, ['Hola Mundo', 5, 6]]

In [36]:
my_list[4][2]

6

#Part 2

In [4]:
d = {'key1': 'value', 'key2':'123'}

In [5]:
d['key1']

'value'

In [44]:
a = {'key1':{'innerkey':'inner_value'}, 'Dict':[1,2,3]}

In [54]:
a['Dict'][0]

1

In [61]:
a['key1']['innerkey'][0:]

'inner_value'

In [62]:
True

True

In [63]:
False

False

In [ ]:
my_list[0] = 'new'
print(my_list) # las listas son mutables

['new', 2, 3, 4, ['Hola Mundo', 5, 6]]

In [70]:
a['key1'] = 'New_key1'
print(a)

{'key1': 'New_key1', 'Dict': [1, 2, 3]}

Las listas son mutables, las tuplas son como listas pero inmutables, los diccionarios son arreglos clave valor y son mutables, mientas que los set son como listas pero que no adminten duplicados

In [73]:
mi_set = {1,2,3}
print(mi_set)
mi_set

{1, 2, 3}

{1, 2, 3}

In [4]:
matriz = [[-5,2,0], [9,5,6], [1,7,15]]
for fila in matriz:
    for elemento in fila:
        print(elemento)

-5
2
0
9
5
6
1
7
15

In [5]:
seq = [1,2,3,4,5]

In [8]:
for num in seq: 
    print(num)

1
2
3
4
5

In [9]:
for num in seq: 
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [13]:
i=1
while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [15]:
for x in seq:
    print(x)

1
2
3
4
5

In [18]:
i=1
while  i < 10:
    print('El numero es: {}'.format(i))
    i=i+1

El numero es: 1
El numero es: 2
El numero es: 3
El numero es: 4
El numero es: 5
El numero es: 6
El numero es: 7
El numero es: 8
El numero es: 9

In [1]:
x = list(range(0,10))

In [2]:
out = []
for item in x:
    out.append(item**2)
print(out)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
[item**2 for item in x]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
from random import randint

n = range(0,10)
k = 1
while True:
    x =int(input(f"Pon un numero para adivinar"))
    if x==n:
        print(f"haz adivinado el numero, el cual es: {x}")
        break
    else:
        print(f"El {x} no es el numero adivinado")
        k= k + 1

In [6]:
suma = 0

while True:

    entrada= input('Escriba un numero o escriba salir')

    if entrada.lower()== 'salir':
        break
    try:
        numero = float(entrada)
        suma += numero
        print(suma)
    except Exception as e:
        print(f"No se puede supar por que: {e}")

5.0
No se puede supar por que: could not convert string to float: 'lo'

In [9]:
def my_func(name):
    print(f"Hello {name}")

my_func("Erick")

Hello Erick

In [ ]:
def squar(num):
    """
    Esta funcion hace el cuadro de cualquier numero
    """
    return num**2

squar(5)

25

In [5]:
for _ in range(1):
    num= int(input("Escribe un Numero"))
    print(f"La tabla del {num} es:")

    for i in range(1,11):
        print(f"{num} X {i} = {num * i}")

La tabla del 5 es:
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [2]:
n=list(range(1,5))
print(n)

for item in n:
    num= int(input("Dame un numero:"))
    print(f"{num * item}")

[1, 2, 3, 4]
2
4
6
12

In [ ]:
def fibonacci(n):
    
    if n == 1:
        return 1
    elif n == 0:
        return 0
    else:
        return fibonacci(n-1)+ fibonacci(n-2)

fibonacci(10)

55

In [9]:
def fibonacci_2(n):

    lista = []
    a,b = 0,1

    for _ in range(n):
        lista.append(a)
        a,b= b,a+b
    return lista
    
numero = int(input("Dame Un numero"))

fibonacci_2(numero)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [15]:
def calculador_memoria(a: int, b: int):
    total = a + b  
    print(f"se suman {a} y {b} que es igual a {total}")

# Prueba la función
resultado = calculador_memoria(2, 2)
print(resultado)

se suman 2 y 2 que es igual a 4
None

In [ ]:
def nota(entrada):
    try:
        
        Nota = float(entrada)
        
        if Nota < 5:
            print(f"Fallaste con una nota de {Nota}")
        elif 5 <= Nota <= 7:
            print(f"Pasaste la materia con un {Nota}")
        elif 7 < Nota <= 9:
            print(f"Tu nota es notable con una {Nota}")
        elif 9 < Nota <= 10:
            print(f"Tu nota es de {Nota}, ¡bravo, Sobresaliente!")
        else:
            print(f"{Nota} no es una nota válida")
    
    except NameError:  
        print(f"Error: '{entrada}' no es un número válido.")
    except Exception as e:  
        print(f"Se ha producido un error inesperado: {e}")

In [28]:
nota("Noventa")

Se ha producido un error inesperado: could not convert string to float: 'Noventa'

In [2]:
import random


def Loteria(Numero:int):
    """
    Esta funcion es la loteria del 1-10
    """
    numero = 0  
    contador = 0  
    historial = []

    while numero != Numero:  
        numero = random.randint(1, 10)  
        contador += 1  
        historial.append(numero)
        
        if numero == Numero:
            print(f"¡Ganaste! Se necesitó {contador} intentos.")
        else:
            print(f"Seguimos barajando... Número generado: {numero}")

In [45]:
Loteria(5)

Seguimos barajando... Número generado: 2
Seguimos barajando... Número generado: 9
Seguimos barajando... Número generado: 1
Seguimos barajando... Número generado: 8
Seguimos barajando... Número generado: 4
Seguimos barajando... Número generado: 8
Seguimos barajando... Número generado: 4
Seguimos barajando... Número generado: 1
Seguimos barajando... Número generado: 8
¡Ganaste! Se necesitó 10 intentos.

In [53]:
Items = list(range(1,100))

for n in Items:
    print(n)

    if n == 50:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [50]:
Items

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

Me quede en el video 5 de python crash course 20/02/2025

Retomado el dia 6/03/2025

-------> part 4

In [7]:
def times2(var):
    return var*2

In [8]:
times2(5)

10

In [9]:
#map

In [12]:
seq = list(range(1,6))

In [13]:
seq

[1, 2, 3, 4, 5]

In [ ]:
# la forma en la que trabaja map es como si iterarammos si te das cuenta no uso for y itero por la lista que tengo en seq
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [ ]:
list(map(times2,seq))

In [18]:
# lamba expresion, suprime el metodo comun de hacer una funcion por los que la fucnion que tenemos alli arriba quedaria del tipo

t = lambda var: var**2
t(5)

25

In [19]:
# por lo que aqui con map seria bueno utilizar lamba dado que no hara una funcion completa para esto sino que como sera algo de una vez, utlizo una expression lambda
list(map(lambda num:num**3,seq))

[1, 8, 27, 64, 125]

In [22]:
# la funcion , filter, tambien puede ser utilizada en miras de que si quiero meter algun codicionante para que entonces pueda sacar la que necesite de la lambda expression que arme, como se ve
# en el ejemplo


list(filter(lambda num: num%2==0, seq))

[2, 4]

In [25]:
# Metodos, son cosas que le podemos hacer a los que gaurdamos en variables

s ="hello my name es Sam"

In [27]:
s.lower()

'hello my name es sam'

In [29]:
s.upper()

'HELLO MY NAME ES SAM'

In [30]:
s.split()

['hello', 'my', 'name', 'es', 'Sam']

In [ ]:
# por ejemplo split, lo va a dividir por divisor que le pongas.

In [34]:
teewt = "Go sport, #take the throne!"

In [35]:
teewt.split("!")

['Go sport, #take the throne', '']

In [37]:
# pero si quiero coger cosas en espesificos puedo 
teewt.split("#")[1]
# no tan solo dividi el texto sino que tambien me que con el primero que hace a division, esto si hubiera mas que no es el caso!

'take the throne!'

In [38]:
d ={'k1':1, 'k2':2}
d

{'k1': 1, 'k2': 2}

In [ ]:
# para trabajar con diccionarios, podemos sacar todo, solo las llaves o solo los valores. 
d.keys()

dict_keys(['k1', 'k2'])

In [40]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [41]:
d.values()

dict_values([1, 2])

In [55]:
# con las listas podemos hacer

# con pop saco el ultimo elemento de una lista y esto es irreversible
lst = [1,2,3]

lst.pop()

3

In [56]:
lst

[1, 2]

In [57]:
lst=[1,2,3,4,5]

In [58]:
item = lst.pop()

In [59]:
item

5

In [60]:
first = lst.pop(0)

In [61]:
first

1

In [62]:
lst.append(100)

In [63]:
lst

[2, 3, 4, 100]

In [64]:
'x' in [lst]

False

In [70]:
lst.append("X")

In [71]:
lst

[2, 3, 4, 100, 'X', 'X', 'X']

In [73]:
4 in [1,4]

True

In [67]:
lst

[2, 3, 4, 100, 'X']

In [ ]:
# Tuple unpacking, es iterrar de manera que no tenga que utilizar los [][] y hacerlo de manera recursiva en un bucle for

X = [(1,2),(3,4),(5,6)]

In [75]:
X

[(1, 2), (3, 4), (5, 6)]

In [78]:
X[0]

(1, 2)

In [79]:
X[0][0]

1

In [80]:
for item in X:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [81]:
for (a,b) in X:
    print(a)

1
3
5

In [82]:
for (a,b) in X:
    print(b)

2
4
6

In [ ]:
# lo de () es una formalidad osea puedoi utilizar esto sin necesidad de ellos, enotnces printear los dos juntos sin temas algunos. 
for a,b in X:
    print(a)
    print(b)

1
2
3
4
5
6

Me quede en el video 6 de python crash course 06/03/2025